html,
body {
  height: 100%;
  margin: 0;
}

.overlay-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0; /* Set a lower z-index to place it behind other elements */
}

.content-img {
  position: absolute;
  top: 0;
  left: 65%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  z-index: 2; /* Set a higher z-index to place it in front */
}

.overlay-image {
  width: 100vh;
  height: auto;
  margin-bottom: 20px;
  position: relative;
}

.slicing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #20252c;
  clip-path: polygon(100% -25%, 100% 100%, 25% 100%);
  z-index: 0; /* Set a lower z-index to place it behind other elements */
}
